---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Gabriel
        <a
          href="https://linkedin.com/in/gabriel-gómez-248819186/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span
          class="font-bold text-blue-200 drop-shadow-md hover:drop-shadow-xl"
          >Ingeniero en Informática.</span
        >
        <br />
        <span>3+ años de experiencia.</span>
        <span class="text-yellow-100">Desarrollador Web.</span>
        <span class="text-red-200"><br />De Valparaíso, Chile🌶️.</span>
        <br />
        <span class="opacity-75"
          >Especializado en Javascript con React y Node</span
        >
      </h2>

      <nav class="flex gap-4 mt-8">
        <SocialPill
          href="https://linkedin.com/in/gabriel-gómez-248819186/"
          target="_blank"
          rel="noopener"
        >
          <LinkedinIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill
          href="https://github.com/ggabrielgp"
          target="_blank"
          rel="noopener"
        >
          <GitHubIcon class="w-6 h-6" />
          GitHub
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
